*{
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: white;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ece9e9;
}
.logo_container{
    margin-left: 3%;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar{
    display: flex;
    min-width: 700px;
    justify-content: space-around;
}

.nav_bar a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 700;
    color: #282c3f;
    font-size: 14px;
    padding: 28px 0;
    border-bottom: 4px solid #ffffff;
}
.nav_bar a:hover{
    border-bottom: 4px solid #f54e77;
}
.nav_bar a sup{
    color: #ff3f6c;
    font-size: 10px;
}

.search_bar{

    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;

}
.search_input{
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    padding: 8px 10px 10px;
    border: none;
    border-radius: 0 4px 4px 0;
}
.search_icon{
    height: 17px;
    padding: 8px 10px 10px;
    box-sizing: content-box;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}
.action_bar{
    display: flex;
    min-width: 300px;
    justify-content: space-evenly;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.material-symbols-outlined {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
}

/*Main Section*/
.banner_container{
    margin: 40px 0;
}
.banner_image{
    height: 400px;
    width: 100%;
    justify-content: center;

}
.under_banner_image{
    width: 100%;
}
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sale_items{
    height: 238px;
    width: 182px;;
}
.footer_container {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: #94969f;
    text-align: end;
    padding: 15px;
}